@import url(./style/card.css);

:root{
 --fonte-principal:Arial, Helvetica, sans-serif;
 --cor-vermelha: #a1311c;
 --cor-branca: #fdfffc;
 --cor-marrom:#cf9570;
 --cor-azul: #003f56;
}

body {
    box-sizing: border-box;
    font-size: 1em;
    font-family: var(--fonte-principal);
    background-color: aliceblue;
}