@import url(./style/mid.css);
@import url(./style/header.css);

:root {
  --fonte-principal: 'MaryKate', sans-serif;
  --cor-azul: #003f56;
  --cor-areia: #d0946f;
}

body {
  box-sizing: border-box;
  font-size: 1em;
  font-family: var(--fonte-principal);
  background-color: var(--cor-branca);
}

.bg-cf {
  background-color: var(--cor-areia);
  color: var(--cor-azul);
}

.bg-areia {
  background-color: #A1311C;
  color: #FCD757;
}
.bg-piloes {
  background-color: #9BC53D;
  color: #00751F;
}

.bg-matinhas {
  background-color: #9BC53D;
  color: #FDFFFC;
}

.bg-solanea {
    background-color: #FCD757;
    color: #942911;
}

.bg-serraria {
  background-color: #00A223;
  color: #FDFFFC;
}

.bg-borborema {
  background-color: #9BC53D;
  color: #00751F;
}

.bg-remigio {
  background-color: #08428F;
  color: #FDFFFC;
}

.bg-bananeiras {
  background-color: #F5E63C;
  color: #348AA7;
}

.bg-alagoa-grande {
  background-color: #433372;
  color: #FDFFFC;
}

.bg-alagoa-nova {
  background-color: #58B33A;
  color: #FDFFFC;
}