.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main-card--left {
  min-width: 10%;
  max-width: 10%;
  border-radius: 0em 2em 2em 0em;
  box-shadow: -4em 2em 6em 4em rgb(82, 82, 82);
  z-index: 500;
}

.main-card--principal {
  min-width: 70%;
  max-width: 70%;
}

.main-card--right {
  min-width: 20%;
  max-width: 20%;
  border-radius: 3em 0em 0em 3em;
  box-shadow: 4em 2em 6em 4em rgb(82, 82, 82);
  z-index: 500;
}

.main-card--img {
    background-image: url(../img/rotafrio.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 0.5em 0em;
}