.main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.main-card--left {
    background-color: aqua;
    min-width: 10%;
    max-width: 10%;
    border-radius: 0em 2em 2em 0em;
}

.main-card--principal {
    background-color: var(--cor-branca);
    min-width: 70%;
    max-width: 70%;
}

.main-card--right{
    background-color: var(--cor-marrom);
    min-width: 20%;
    max-width: 20%;
    border-radius: 2em 0em 0em 2em;
}